body {
    width: 1190px;    
    height: 1684px;
    margin-left: auto; /* centrage dans l'écran */
    margin-right: auto;
    border: 1px solid black;
    padding: 5px;
}
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
    }
}
/* id */
#pl-id {
    width: 878px;
    min-height: 150px;
    float: left;
    background-color: antiquewhite;
}
#pl-lg {
    width: 312px;
    min-height: 75px;
    float: right;
}

/* generique */
img.logo {
    width: 312px;    
    height: 75px;
}
.demi {
    width: 49%;
    float: inline-start;
    float: left;
}
.nbsp {
    width: auto;
    float: inline-start;
}

/* zone placeholder */
.zone {
    background-color: bisque;
    border-bottom: 1px solid black;
    min-height: 1.8em;
    margin-bottom: 0.2em;
    margin-right: 1em;
}
.full {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 1.8em;
    margin: 2px;
}
.tier {
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
    height: 1.8em;
    margin: 2px;
}

/* box */
.box {

}
.box-tier {
    width: 33%;
    float: inline-start;
}
.box-quart {
    width: 25%;
    float: inline-start;
}