body {
    width: 1390px;    
    min-height: 800px;
    margin-left: auto; /* centrage dans l'écran */
    margin-right: auto;
    padding: 5px;
}
@media print {
    body {
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
    }
}
/* id */
#pl-id {
    width: 878px;
    min-height: 150px;
    float: left;
    margin-bottom: 1em;
}
#pl-lg {
    width: 312px;
    min-height: 225px;
    float: right;
}
#pl-car {
    width: 375px;
    min-height: 200px;
    float: left;
    margin-bottom: 5px;
}
#pl-ca {
    width: 760px;
    float: right;
}

/* generique */
img.logo {
    width: 312px;    
    height: 75px;
}
.demi {
    width: 49%;
    /* float: inline-start; */
    float: left;
}
.nbsp {
    width: auto;
    float: inline-start;
}

/* zone placeholder */
.zone {
    border-bottom: 1px solid black;
    min-height: 1.8em;
    margin-bottom: 0.2em;
    margin-right: 1em;
}
.full {
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: 1.8em;
    margin: 2px;
}
.tier {
    font-family: Arial, Helvetica, sans-serif;
    width: 33%;
    height: 1.8em;
    margin: 2px;
}

/* box */
.box {
    width: auto;
}
.box-tier {
    width: 33%;
    /* float: inline-start; */
    float: left;
}
.box-quart {
    width: 25%;
    /* float: inline-start; */
    float: left;
}
.carac {
    width: 77px;
    height: 2.2em;
    margin-bottom: 2px;
    float: left;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin-bottom: 2px;
    margin-right: 2px;
}

/* fonts */
.headcarac {
    width: 375px;
    height: 2em;
    float: left;
    margin-bottom: 2px;
    margin-right: 2px;
}
.headtxt {
    width: 75px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    text-align: center;
    margin-bottom: 3px;
    float: left;
}
.boldtxt {
    font-weight: bolder;
    font-size: large;
    text-align: center;
}
.lgboldtxt {
    font-weight: bolder;
    font-size: x-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.txt {
    font-size: x-small;
    text-align: center;
}
.score {
    width: 69px;
    height: 26px;
    margin-right: 2px;
    margin-bottom: 3px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    border: cadetblue 1px solid;
}
.tempscore {
    width: 69px;
    height: 26px;
    margin-right: 2px;
    margin-bottom: 3px;
    padding-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    border: grey 1px solid;
}

/* Bloc CA */
#headca {
    width: 810px;
    height: 2em;
    float: left;
    margin-bottom: 2px;
    margin-right: 2px;
    clear: right;
}
.headtxtw {
    width: 14px;
    height: 12px;
    margin-right: 1px;
    margin-bottom: 3px;
    padding-top: 3px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
}
.txtca {
    width: 66px;
    height: 35px;
    padding-top: 3px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
}
.scorew {
    width: 59px;
    height: 2.1em;
    margin-right: 2px;
    margin-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    float: left;
    border: cadetblue 1px solid;
}
#pl-carec {
    width: 760px;
    float: right;
    margin-top: 5px;
}
#pl-canote {
    width: 760px;
    float: right;
    margin-top: 5px;
}

/* zone points de vie */
#pl-pv {
    width: 375px;
    float: left;
    margin-right: 54px;
}
#prgbarpv {
    width: 200px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 9px;
    margin-right: 5px;
}
.pvbar {
    background-color: greenyellow;
    border: 1px lightgrey solid;
    border-radius: 15px;
    width: 100%;
}

/* bloc PM */
#pl-pm {
    width: 375px;
    float: left;
    margin-right: 54px;
}
#prgbarpm {
    width: 200px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 9px;
    margin-right: 5px;
}
.pmbar {
    background-color: cornflowerblue;
    border: 1px lightgrey solid;
    border-radius: 15px;
    width: 100%;
}

/* bloc PA */
#pl-pa {
    width: 375px;
    float: left;
    margin-right: 54px;
}
#prgbarpa {
    width: 200px;
    background-color: red;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 15px;
    float: right;
    margin-top: 5px;
    margin-bottom: 9px;
    margin-right: 5px;
}
.pabar {
    background-color: peru;
    border: 1px lightgrey solid;
    border-radius: 15px;
    width: 100%;
}

/* bloc Sauvegarde */
#pl-sav {
    width: 590px;
    min-height: 150px;
    float: right;
    margin-bottom: 10px;
}

.cttxt {
    font-family: Arial, Helvetica, sans-serif; !important
}

/* PAGE COMBATS */

/* bloc initiative */
#pl-mi {
    width: 415px;
    min-height: 75px;
    float: left;
    margin-bottom: 10px;
}

/* bloc lutte */
#pl-lut {
    width: 600px;
    min-height: 75px;
    float: right;
    margin-bottom: 10px;
}